{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
      <h3>What is it?</h3>
      <p>
        Android: NetRunner is a Living Card Game set in a dystopian cyber-noir future.
        In this assymetrical two-player card game, each person takes on the role of a Runner or a Corp.
        The Runner is a hacker that is trying to get into the Corp's servers to steal their agendas to win.
        The Corp has protect their servers with cards called ICE while trying to score out agendas. The first
        player to 7 agenda points wins. The Corp can also win by flatlining the Runner through meat damage,
        net damage, or brain damage.
      </p>
      <h3>Rules</h3>
        <p>
          You can read the rules for the game <a href="https://images-cdn.fantasyflightgames.com/ffg_content/android-netrunner/support/android-netrunner-core-rules.pdf">here</a>!
        </p>
      <h3>Runner and Corp Factions</h3>
      <p>
        The game pits Runner versus Corp. There are 3 Runner factions (Anarchs, Criminals, Shapers) and
        4 Corp factions (Haas-Bioroid, Jinteki, NBN, Weyland Consortium). In addition to the two sides, each faction
        within that side has their own unique play style. You can read more about the factions above. Below are the 7 Identities
        of each faction from the Core Set.
      </p>
      <div>
          <img src="{% static 'images/anarch.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/criminal.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/shaper.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/hb.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/jinteki.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/nbn.png' %}" class="img-responsive left" alt="Responsive image">
          <img src="{% static 'images/weyland.png' %}" class="img-responsive left" alt="Responsive image">
      </div>

{% endblock %}
